body {
  margin: 0;
  height: 2200px;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/68819/3d_space_5.jpg);*/
  text-align: center;
  background-repeat: no-repeat;
  overflow-x: hidden!important;
  display: block;
}


.ml9 {
  max-width: 100%;
  position: relative;
  font-weight: 200;
  font-size: 9vw;
  z-index: 2;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.05em 0.1em 0.05em;
  overflow: hidden;
  color: #00ffff;
  font-weight: 200;
  font-family: 'Mali', cursive;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.ml4 {
  max-width: 100%;
  position: relative;
  font-weight: 900;
  font-size: 10vw;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
  padding-bottom: 50px;
  color: #b4eb34;
  font-weight: 700;
  font-family: 'Mali', cursive;
}

.ml7 {
  max-width: 100%;
  position: relative;
  font-weight: 900;
  font-size: 10vw;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
  color: #ae34eb;
}

.clouds-1 {
  padding-top: 5rem;
}


/* SCROLL DOWN */
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #000;
  font-size: 16px;
  opacity: 0;
  animation: fadeIn 2s ease 12s forwards;
  -webkit-animation: fadeIn 2s ease 12s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrow {
  position: sticky;
  top: 10px;
  padding-left: 50px;
  margin: 0 auto;
  font-size: 12px;
  animation: downArrow 2.2s cubic-bezier(1, 0, 0, 1) infinite;
  animation-delay: 10s;
  z-index: 10;
}

@keyframes downArrow {
  0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
  }
  50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
  }
  50.1%{
    transform-origin: 0% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
  }
}

.space img{
  width: 50%;
  transform: rotate(-50deg);
}

.space {
  padding-top: 2em;
}


@media screen and (max-width: 600px) {
  .container {
    flex: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  .clouds-1 {
    max-width: 40%;
  }

  .space img{
    width: 70%;}
}
